.container-fluid img{
  box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.8);
}
.title{
  text-transform: capitalize;
  color: #fff;
  margin-top: 2rem;
}

.list-group .creator{
  text-transform: capitalize;
} 

.outer_div{
  /* display: flex;
  justify-content: space-between; */
  color: white;
}
.inner_div{
  height: 20rem;
  overflow: auto;
  margin-right: 3rem;
}